[Unit]
Description=Keycloak Container

[Container]
Image=p-keycloak.build
ContainerName=keycloak
ServiceName=pc-keycloak
Network=p-internal.network
Network=p-external.network

[Install]
WantedBy=multi-user.target
